gensim==3.8.1
nltk==3.4.5
scikit-learn
tensorflow==2.2
pickleshare == 0.7.5
autocorrect==1.1.0
keras==2.3.1
Keras-Preprocessing==1.1.0
seaborn==0.10.0
matplotlib==3.1.3
numpy==1.14.5
pandas==0.25.3
scipy==1.3.3